.page {
    .nav-menu {
        width: 100%;
        max-width: 474px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(90deg, #FFFFFF -21.85%, rgba(255, 255, 255, 0.65) 130.84%);
        backdrop-filter: blur(4px);
        padding: 5px 18px;
        padding-bottom: env(safe-area-inset-bottom);
        .link {
            cursor: pointer;
            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}