<div class="profile-page">
    <div class="user"></div>
    <div class="user-info">
        <div class="avatar">
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
            <div *ngIf="!userInfo?.avatar" class="upload" (click)="fileUpload.click()">
                <img src="/assets/images/icons/upload-icon.png" alt="icon">
            </div>
            <div class="user-avatar" *ngIf="userInfo?.avatar" (click)="fileUpload.click()">
                <img [src]="userInfo.avatar" alt="user-avatar">
            </div>
        </div>
        <div class="description">
            <div class="user-name">{{userInfo?.username}}</div>
            <img class="logout" src="/assets/images/icons/logout-icon.svg" alt="logout" (click)="logout()">
        </div>
    </div>
    <div class="title">Posts</div>
    <div class="user-posts">
        <img *ngFor="let post of posts" [src]="post?.banner" alt="post" (click)="openNews(post)">
    </div>
    <div class="create-first-post-action" *ngIf="!loading && posts.length === 0">
        <button (click)="create()">
            <span>
              <img src="/assets/images/icons/plus-svg.svg" alt="create icon"> 
              <div class="create-title">Create</div>
            </span>
          </button>
    </div>
</div>